<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nuvem</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/2-col-portfolio.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top text-center" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand " href="#">Nuvem</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row text-center">
            <div class="col-lg-12">
                <h1 class="page-header"> Nuvem
                    <!-- <small>Secondary Text</small> -->
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item text-center">
                <a href="turnon/">
                    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/cloud-thunder.png') }}" alt="">
                </a>
                <h3>
                    <a href="turnon/">Turn on</a>
                </h3>
                <p>Turn on the lights and sound of thunder</p>
            </div>

            <div class="col-md-6 portfolio-item text-center">
                <a href="rain/">
                    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/cloud-thunder.png') }}" alt="">
                </a>
                <h3>
                    <a href="rain/">Rain</a>
                </h3>
                <p>Turn on the light and sound of rain</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item text-center">
                <a href="rainandthunderstorm/">
                    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/cloud-thunder.png') }}" alt="">
                </a>
                <h3>
                    <a href="rainandthunderstorm/">Rain and thunder storm</a>
                </h3>
                <p>Blinking lights, rain and thunder</p>
            </div>
            <div class="col-md-6 portfolio-item text-center">
                <a href="lightrain/">
                    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/cloud-thunder.png') }}" alt="">
                </a>
                <h3>
                    <a href="lightrain/">Light rain</a>
                </h3>
                <p>Sound of light rain</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item text-center">
                <a href="turnoff/">
                    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/cloud-thunder.png') }}" alt="">
                </a>
                <h3>
                    <a href="turnoff/">Turn off</a>
                </h3>
                <p>One sound of thunder and turn of</p>
            </div>
            <div class="col-md-6 portfolio-item text-center">
                <a href="#">
                    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/cloud-thunder.png') }}" alt="">
                </a>
                <h3>
                    <a href="#">Project Six</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
